.tour-item {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border: 1px solid #dddfe2;
  max-width: 100% !important;
}
.tour-item__image {
  position: relative;
  overflow: hidden;
  padding-top: 71.14285714%;
  border-radius: 10px 10px 0 0;
}
.tour-item__image img {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  right: unset;
  bottom: unset;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}
.tour-item__image-inner__icon-favorite {
  font-size: 22px;
  color: #fff;
  top: 5%;
  left: 3%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
.tour-item__image-inner__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.tour-item__image-inner__bottom__category {
  background: #fff;
  border-radius: 2px 2px 0 0;
  padding: 5px 10px;
  color: #4d4aef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tour-item__image-inner__bottom__category i {
  margin-right: 5px;
  font-size: 18px;
}

.tour-item__image-inner__summary {
  top: 5%;
  right: 3%;
}
.tour-item__image-inner__summary__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tour-item__image-inner__summary__rating span {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  background: #fdc432;
  width: 40px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tour-item__image-inner__summary__rating span:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid #fdc432;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}
.tour-item__image-inner__summary__review {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
}
.tour-item__image-inner__summary__review p {
  margin-bottom: 0;
}
.tour-item__image-inner__summary__review h6,
.tour-item__image-inner__summary__review .h6 {
  font-weight: 700;
  margin-bottom: 0;
}
.tour-item__date {
  font-size: 13px;
  color: #2d4271;
}
.tour-item__title {
  min-height: 60px;
  max-height: 60px;
}
.tour-item__title {
  font-weight: 700;
  font-size: 16px;
  color: #2d4271;
  line-height: 20px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  min-height: 4rem;
  max-height: 4rem;
}
.tour-item__departure {
  color: #2d4271;
}
.tour-item__price--old {
  color: #2d4271;
}
.tour-item__price--old__number {
  text-decoration: line-through;
}
.tour-item__price--current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.tour-item__price--current__number {
  font-weight: 700;
  color: #fd5056;
  font-size: 18px;
}
.tour-item__price--current__discount {
  background-color: #fd5056;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  font-size: 11px;
}
