@import "react-alice-carousel/lib/alice-carousel.css";
body,
html {
  font-family: "Roboto" !important;
}
p {
  margin-bottom: 0 !important;
}
img {
  max-width: 100%;
}

a:hover {
  color: #4d4aef;
}
