*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.hr {
  height: 2px;
  width: 200px;
  background-color: #0abf54;
  margin: 0 auto;
}
svg{
  vertical-align: baseline;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
  border: none !important;
}
.ant-layout-sider{
  min-height: 100vh;
}
.spin{
  text-align: center;
}
.xem-them {
  position: absolute;
  width: 90px;
  right: 5%;
  padding-bottom: 2rem;
}
.xem-them a{
  text-decoration: none;
}